// main: ../style.scss

$card-radius: 3px;

.card {
  border-radius: $card-radius;
  border: 1px solid $gray-3;

  > :first-child {
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
  }

  > :last-child {
    border-bottom-left-radius: $card-radius;
    border-bottom-right-radius: $card-radius;
  }

  margin-bottom: 12px;
}
