// main: ../style.scss

body, html {
  background-color: $gray-2;
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media print {
  .card {
    & > * {
      page-break-inside: avoid;
    }
  }

  .print-hidden {
    display: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  .fb-header {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    & > p {
      max-width: 30em;
      font-size: 12px;
      color: $gray-5;
      margin-left: 3em;
    }
  }
}

#global-container {
  width: 1012px;
  margin: 0 auto;
  margin-top: -4px;

  .top-block {
    position: relative;
    margin-bottom: 10px;

    .coverPhoto {
      width: 100%;
    }

    .white-bar {
      margin-top: -4px;
      width: 100%;
      background: white;
      text-align: center;

      img {
        margin-bottom: -4px;
      }
    }

    .portrait-overlay {
      bottom: 15px;
      left: 15px;
      position: absolute;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 50%;
      width: 168px;
      height: 168px;

      $portrait-overlay-size: 160px;
      img {
        width: $portrait-overlay-size;
        height: $portrait-overlay-size;
        border-radius: 50%;
        border: 4px solid white;
      }
    }
  }

  #content {
    display: flex;

    #left-col {
      width: 100%;
      min-height: 50px;
      position: relative;

      .side-card {
        border-radius: 3px;
        border: 1px solid $gray-3;
        background: white;
        padding: 5px;
      }
    }

    #content-col {
      min-height: 600px;
      width: 820px;
      margin-left: 12px;
      display: flex;
      flex-direction: row-reverse;

      #right-col {
        margin-left: 12px;
        width: 308px;
        min-height: 100px;
      }

      #content-area {
        width: 500px;
        right: 320px;
        min-height: 100px;
        border: 1px solid $gray-3;
      }
    }
  }
}
